<h2>Details</h2>
<div>
  <label>name:
  <input [(ngModel)]="students.name" placeholder="name">
  </label>
</div>
<div>
  <label>ID:  
  <input [(ngModel)]="students.id" placeholder="enter ID">
  </label>
</div>
<div>
  <span>
    <b>Id :</b>
  </span> {{ students.id }}
</div>
<div><span><b>name :</b></span> {{ students.name| uppercase }}</div>
<h2>My Students</h2>
<ul class ="students">
  <li *ngFor="let students of stud">
  <span class="badge">{{students.id}}</span>         
  {{students.name}}
  </li>
</ul>