<div align="center">
  <h2>Details</h2>
  <div *ngIf="selectedstudent">
    <label>name:
    <input [(ngModel)]="selectedstudent.name" placeholder="name">
    </label>
  </div>
  <div *ngIf="selectedstudent">
    <label>ID:
    <input [(ngModel)]="selectedstudent.id" placeholder="enter ID">
    </label>
  </div>
  <div *ngIf="selectedstudent">
    <span>
    <b>Id :</b>
    </span> {{ selectedstudent.id }}
  </div>
  <div *ngIf="selectedstudent">
    <span>
      <b>name :</b>
    </span>{{ selectedstudent.name| uppercase }}</div>
  <h2>My Students</h2>
  <ul class="students" >
    <li *ngFor="let students of stud"
    [class.selected]="students === selectedstudent"
    (click)="onselect(students)">
      <span class="badge">{{students.id}}</span>
      {{students.name}}
    </li>
  </ul>
</div>
